In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/student/Desktop/Realme Narzo 10 (That White, 128 GB) Reviews.csv")

In [3]:
data.head()

,Rating,Review,Comments
0,4.0,Good choice,After Using 6 Day's My Review. Good Smartphone...
1,5.0,Terrific purchase,Great product in such a good price.Camera qual...
2,5.0,Awesome,After using of 10 days my review--It's a best ...
3,5.0,Excellent,"Very good budget phone, it's good affordable s..."
4,5.0,Worth every penny,"Very good budget phone, everything seems perfe..."

In [4]:
import nltk

In [5]:
from wordcloud import WordCloud,STOPWORDS

In [6]:
my_stopwords = set(STOPWORDS)
my_stopwords.update(['READMORE','Read','ReadMore','money','penny','phone','mobile','flipkart','goodread'])

In [7]:
from wordcloud import WordCloud
import re

In [8]:
import matplotlib.pyplot as plt

In [10]:
text = [re.sub("!","",txt) for txt in data.Review]
comm = [re.sub("!","",txt) for txt in data.Comments]

In [11]:
emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)

In [13]:
import emoji
import re

In [17]:
def give_emoji_free_text(comm):
    allchars = [str for str in comm]
    emoji_list = [c for c in allchars if c in emoji.UNICODE_EMOJI]
    clean_text = ' '.join([str for str in comm.split() if not any(i in str for i in emoji_list)])
    return clean_text

In [44]:
comm = [give_emoji_free_text(txt) for txt in comm]
comm = [re.sub("READ MORE","",i) for i in comm]
comm = [re.sub('-','',i) for i in comm]
comm = [re.sub('\d','',i) for i in comm]
comm = [re.sub('GB|gb','',i) for i in comm]

In [45]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stopw = (stopwords.words('english'))
setstop = ['money','purchase','penny','market','product','every']
stopw.extend(setstop)
stopw = set(stopw)
stopw

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'every',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'market',
 'me',
 'mightn',
 "mightn't",
 'money',
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 'penny',
 'product',
 'purchase',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [46]:
from textblob import TextBlob
blob1 = TextBlob(comm[9])
blob1.sentiment

Sentiment(polarity=0.6257142857142857, subjectivity=0.5807142857142857)

In [47]:
v = []
for val in text:
    val = str(val)
    tokens = val.split()
    for i in range(len(tokens)):
        tokens[i] = tokens[i].lower()
    v.append(" ".join(tokens))
for word in range(len(v)):
    token = word_tokenize(v[word])
    for tkn in token:
        if tkn in stopw:
            token.remove(tkn)
    v[word] = " ".join([str(ele) for ele in token])
    
b = []
for val in comm:
    val = str(val)
    tokens = val.split()
    for i in range(len(tokens)):
        tokens[i] = tokens[i].lower()
    b.append(" ".join(tokens))
for word in range(len(b)):
    token = word_tokenize(b[word])
    for tkn in token:
        if tkn in stopw:
            token.remove(tkn)
    b[word] = " ".join([str(ele) for ele in token])

In [49]:
from textblob import TextBlob
score = []
for i in range(len(v)):
    bl = TextBlob(v[i])
    score.append(bl.sentiment.polarity)
    
from textblob import TextBlob
cscore = []
for i in range(len(b)):
    bl = TextBlob(b[i])
    cscore.append(bl.sentiment.polarity)

In [50]:
for i in range(len(score)):
    if score[i] < 0.0:
        score[i] = 0
    elif score[i] > 0.0:
        score[i] = 1
    elif score[i] == 0.0:
        score[i] = 0
        
for i in range(len(cscore)):
    if cscore[i] < 0.0:
        cscore[i] = 0
    elif cscore[i] > 0.0:
        cscore[i] = 1
    elif cscore[i] == 0.0:
        cscore[i] = 0

In [51]:
data['Score'] = score
data['Cscore'] = cscore

In [52]:
data['Cscore'].value_counts()

1    8179
0    1781
Name: Cscore, dtype: int64

In [53]:
from sklearn.linear_model import LogisticRegression

In [54]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [55]:
data['Review'] = v
vect = TfidfVectorizer(max_features=1000).fit(data.Review)
X=vect.transform(data.Review)
my_array = X.toarray()
X_df = pd.DataFrame(my_array,columns = vect.get_feature_names())


data['Comments'] = b
vect = TfidfVectorizer(max_features=1000).fit(data.Comments)
X_c=vect.transform(data.Comments)
my_array = X_c.toarray()
X_cdf = pd.DataFrame(my_array,columns = vect.get_feature_names())
X_cdf.head()

,able,about,absolutely,accept,according,actually,adapter,added,advice,affordable,...,yaar,ye,year,years,you,younger,your,youtube,zero,zoom
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.332509,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.369516,0.0,0.0,0.0,0.0,0.0,0.0,0.325636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:

y = data['Cscore']

In [60]:
log_reg = LogisticRegression().fit(X_c,y)
score = log_reg.score(X_c,y)
print(score)

0.976004016064257

In [61]:
from sklearn.metrics import accuracy_score
y_predicted = log_reg.predict(X_c)
accuracy = accuracy_score(y,y_predicted)

In [62]:
accuracy

0.976004016064257

In [63]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_c,y,test_size=0.3,random_state=123,stratify=y)
log_reg = LogisticRegression(penalty='l2',C=1.0).fit(X_train,y_train)
print("Trainig set:",log_reg.score(X_train,y_train))
print("Testing set:",log_reg.score(X_test,y_test))

Trainig set: 0.9764773379231211
Testing set: 0.964859437751004

/home/student/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [64]:
data.head()

,Rating,Review,Comments,Score,Cscore
0,4.0,good choice,using day 's review . good smartphone this pri...,1,1
1,5.0,terrific,great in a good price.camera quality awesome ....,0,1
2,5.0,awesome,using days reviewit 's best smartphone realme ...,1,1
3,5.0,excellent,"good budget phone , 's good affordable smartph...",1,1
4,5.0,worth penny,"good budget phone , everything seems perfect t...",1,1

In [66]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
data['Cscore'].value_counts()
data

,Rating,Review,Comments,Score,Cscore
0,4.0,good choice,using day 's review . good smartphone this pri...,1,1
1,5.0,terrific,great in a good price.camera quality awesome ....,0,1
2,5.0,awesome,using days reviewit 's best smartphone realme ...,1,1
3,5.0,excellent,"good budget phone , 's good affordable smartph...",1,1
4,5.0,worth penny,"good budget phone , everything seems perfect t...",1,1
5,5.0,fabulous,one the best phone this price range brought fo...,1,1
6,5.0,worth penny,"one the best phone this price , fully worth bu...",1,1
7,5.0,great,phone very good camera battery backup excellen...,1,1
8,4.0,good choice,worth money.. found heating issues playing hea...,1,1
9,5.0,mind-blowing,best mobile phone the price it not smart assis...,0,1
10,3.0,decent,phone quite okay day day use . helio g perform...,1,1
11,5.0,simply awesome,be frank 's value money . smooth af . excellen...,1,1
12,5.0,great,phone very nice camera good battery prfomace v...,1,1
13,5.0,excellent,best mobile the lock session superb battery mo...,1,1
14,5.0,awesome,good budget mobile best price camera also good...,1,1
15,4.0,delightful,awesome phone camera too awesome bettery backu...,1,1
16,4.0,worth money,nice product..value money . you know even thou...,1,1
17,3.0,good,good phone switch switch bed phone ... ... fli...,1,1
18,4.0,wonderful,amazing picture mind blowing superb powerful b...,1,1
19,4.0,pretty good,mobile looks without cover clear cover provide...,1,1
20,5.0,simply awesome,worthy phone . nice deal this lockdown . provi...,1,1
21,4.0,pretty good,using phone month now am providing with a deta...,1,1
22,5.0,terrific,"camera awesome . pros.. excellent , battery ba...",0,1
23,3.0,nice,"had purchased younger brother , told pubg very...",1,1
24,4.0,good choice,"pro : good budget phone , looks far good.camer...",1,1
25,5.0,simply awesome,phone good upto mark.the display pretty good ....,1,1
26,4.0,worth money,price valuegreat under k used since first sell...,1,1
27,5.0,wow,superb mobile battery backup very good perform...,1,1
28,4.0,value-for-money,. camera quality awesome design also good batt...,0,1
29,5.0,terrific,nice mobile valuable mobile parfamens superb c...,0,1
...,...,...,...,...,...
9930,NaN,super,nice phone budget,1,1
9931,NaN,fabulous,good,1,1
9932,NaN,terrific,product very good,0,1
9933,NaN,simply awesome,thank realme flipkart,1,0
9934,NaN,best the,worth money,1,1
9935,NaN,wonderful,awesome,1,1
9936,NaN,mind-blowing,nice phone,0,1
9937,NaN,best the,best ph /,1,1
9938,NaN,wow,good one this price,1,1
9939,NaN,classy,nice,1,1
9940,NaN,good,good value money,1,1
9941,NaN,good quality,super . ... mobile,1,1
9942,NaN,must buy,lovely look awsm mobile delevry v fast love fl...,0,1
9943,NaN,must buy,awesome,0,1
9944,NaN,best the,super,1,1
9945,NaN,super,awsm performance nd camera awsm 's really gud ...,1,1
9946,NaN,good,v good,1,1
9947,NaN,classy,super,1,1
9948,NaN,fabulous,best products,1,1
9949,NaN,wow,thank,1,0
9950,NaN,wonderful,osm,1,0
9951,NaN,super,nice working,1,1
9952,NaN,pretty good,good phone,1,1
9953,NaN,great,budget mobile,1,0
9954,NaN,perfect,nice,1,1
9955,NaN,value-for-money,good,0,1
9956,NaN,terrific,amazing,0,1
9957,NaN,brilliant,super mobile,1,1
9958,NaN,good choice,nice,1,1
9959,NaN,super,nice mobile less amount ? ?,1,1

In [67]:
X_train,X_test,y_train,y_test = train_test_split(data['Comments'],data['Cscore'],test_size=0.8,random_state=123,stratify=data['Score'])

In [68]:
train = pd.concat([X_train,y_train],axis=1)
test = pd.concat([X_test,y_test],axis=1)

In [69]:
test.head()

                                       Comments  Cscore
2393                                       good       1
1331                                worth money       1
2617  camera better battery very goodbest phone       1
4233                                  beautiful       1
8978                                bed prodect       0